.nav {
    display: flex;
    width: 60%;
    justify-content: space-between;

    & ul {
        list-style: none;
        display: flex;
    }

    & li {
        &:not(:last-child) {
            margin-right: 2.5rem;
        }
    }

    & a {
        display: inline-block;
    }
}